.card img {
  width: 150px;
}

.card p {
  opacity: .5;
}

.card {
  width: 200px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgb(160,160,160);
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(120,120,120, 0.4);
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.cards h4 {
  text-shadow: 4px 2px rgba(10,10,10, 0.2);
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
